.story .header {
    font-size: 3rem;
    font-weight: 900;
}

.story .flex,
.mission .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.story .flex .left,
.story .flex .right {
    width: 50%;
}



.story .flex .right img {
    width: 550px;
    margin-bottom: 15px;
}


.mission .header {
    font-size: 3rem;
    font-weight: 900;
}

.vision .header {
    font-size: 3rem;
    font-weight: 900;
}


.mission .flex,
.vision .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 25px; */
    width: 100%;
}